#hero-section{
    background-image: url(../assets/images/hotel\ look.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


}

#br-text{
    padding: 8px 20px;
    background-color: rgba(0, 3, 5, 0.9);
    animation: myAnim 3s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
#a-text{
    letter-spacing: 2px;
}
#projects-section .card{
    margin-bottom: 16px;
}
#About-section img{
    filter: grayscale(70%);
}
header{
    z-index: 100;
}

.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    padding: 10px 20px;
     border-radius: 10px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: rgba(0,0,0,0.6);
}
.nav-link{
    color: #fff;
}